<%- include("partials/header.ejs") %>


  

<section class="homepage-section">
<h1 class="title-homepage"><img class="bee"  src="/images/comb.png" alt="">Forgot your honey?<img class="bee2"  src="/images/comb.png" alt=""></h1>


<h2 class="remember">Make a To Do List to remember it next time you go to the grocery store!</h2>


<p class="casualTasks"><i class="fa-solid fa-cart-shopping"></i></i> Need a Shopping list? </p>
<a class="link" href="/casual">Casual Tasks <i class="fa-solid fa-right-long"></i></a>


<p class="workTasks"><i class="fa-solid fa-briefcase"></i> Need a To Do List for Work?  </p>
<a class="link" href="/work"> Professional Tasks <i class="fa-solid fa-right-long"></i></a>





</section>

 

    
  

   
  
   
 


  <%- include("partials/footer.ejs") %>